[submodule "canqalloid.github.io"]
	path = canqalloid.github.io
	url = https://github.com/canqalloid/canqalloid.github.io.git
	branch = main
[submodule "public"]
	path = public
	url = https://github.com/canqalloid/canqalloid.github.io.git
	branch = main
